@font-face {
    font-family: 'Source Sans 3';
    src: url('assets/fonts/SourceSans3-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    height: 100vh;
    width: 100wh;
    margin: 0;
}

:root {
    --header-height: 51px;
}
  
.map-marker {
    --map-marker-color: #424874; /* default color */
    background-color: var(--map-marker-color);
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    left: -0.75rem;
    top: -0.75rem;
    position: relative;
    border-radius: 3rem 3rem 0;
    transform: rotate(45deg);
    border: 1px solid #FFFFFF;
}

.map-popup-link {
    cursor: pointer;
    color: #0078A8;
    border-bottom: 2px solid transparent;
}

.map-popup-link:hover {
    border-bottom: 2px solid #0078A8;
}